
/*Styles the whole body area*/
body {
    font-family: 'PT Sans', sans-serif;
}
/*Styles the "Skip to main content section*/
.alert-info {
    padding: 1em;
    margin: auto;
    border: .1em solid #CCCCCC;
    background: #CCFFFF;
    text-align: center;
}

.alert-info a {
    color: #111111;
    text-decoration: none;
}
/*Styles the Company header*/
h1 {
    margin: .1em;
    font-size: 300%;
}
/*Styles the nav-links section*/
.nav-links {
    padding: 1em;
    background: #CCCCCC;
    text-align: center;
    list-style: none;
}

.nav-links a {
    display: inline-block;
    padding: 1em;
}






/* Small devices (tablets, 500px and up) */
@media screen and (max-width:500px) {
}

/* Medium devices (desktops, 800px and up) */
@media screen and (min-width:800px) {

}


