@media all and (max-width: 1199px) {
    body {
        background-color: #0fb784;
        color: #9e4157;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}

p {
    text-align: center;
}

main ul{
    list-style: none;
}

.box1 {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: #9ACD32;
}

.box2 {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: #0fb784;
}

@media all and (max-width: 991px) {
    body {
        background-color: #9e4157;
        color: #372f93;
    }
}
@media all and (max-width: 768px) {
    body {
        background-color: #372f93;
        color: #b4d455;
    }
}
@media all and (max-width: 575px) {
    body {
        background-color: #b4d455;
        color: orange;
    }
}

@media all and (min-width: 1200px) {
    body {
        background-color: #30447B;
        color: orangered;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

}