body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    color: #372f93;
    background-color: #cddeff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.message-success {
    color: #8B770D;
    background-color: #CFF3DA;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.message-warning {
    color: #A59540;
    background-color: #FCFAC9;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.message-error {
    color: #A0475B;
    background-color: #FAD2D7;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}